  .exploreFoods{
    display: flex;
    justify-content:space-between;
    /* background-color: #a3a380;
    align-items: flex-start;
    height: 55px;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif; */
  }
  