@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.header {
  display: flex;
  justify-content:space-between;
  background-color: #a3a380;
  font-family: 'Work Sans', sans-serif;
  align-items: flex-start;
  height: 60px;
}

.button-profile {
  height: 57px;
  margin-top: 2px;
  margin-left: 2px;
}

.button-seach {
  height: 57px;
  margin-top: 2px;
  margin-right: 2px;
}