@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Roboto+Mono:wght@200&family=Supermercado+One&display=swap');

.ingredient-card {
  border: 2px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Abel', sans-serif;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100px;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Roboto Mono', monospace;
}